:root {
	--max-width: 1080px;
	--general-font-family: "Helvetica Neue", Helvetica, "PingFang SC",
		"Microsoft JhengHei", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑",
		Arial, sans-serif;
}
html {
	overflow: scroll !important;
}
body {
	margin: 0;
}
#app {
	min-height: 100vh;
}
.el-main {
	min-height: calc(100vh - 60px);
}
#logo {
	line-height: 60px;
	font-family: "Courier New", Courier, monospace;
	font-weight: bolder;
	font-size: 1.5rem;
	color: rgb(51, 51, 51);
}
.el-header {
	box-shadow: 0px -3px 5px 1px hsl(0deg 0% 0% / 50%);
	position: fixed;
	width: 100vw;
	background-color: white;
	z-index: 2;
}
.el-footer {
	border-top: 1px solid gainsboro;
	text-align: center;
	font-size: small;
	font-family: "Courier New", Courier, monospace;
	line-height: 60px;
}
.el-main {
	padding-top: 80px !important;
}
.el-header,
.el-main {
	justify-content: center;
	display: flex !important;
}
.maxWidth {
	width: 100%;
	max-width: var(--max-width);
	flex-grow: 1;
	position: relative;
	/* overflow-y: hidden; */
}
p,
button,
.commenter,
.comment-body {
	font-family: var(--general-font-family);
	font-size: 0.98rem;
	white-space: pre-wrap;
}
p,
button {
	line-height: 1.8rem;
	margin: 1.5rem 0;
}
.card {
	margin-bottom: 2.5rem;
}

/* 图片 以及解决图片和p之间间距过大的举措 */
.img_wrap {
	margin: 1.5rem 0;
}
p + .img_wrap,
.img_wrap + p {
	margin-top: 0;
}
.img_wrap {
	display: flex;
	justify-content: center;
	max-width: var(--max-width);
}
.img_wrap > img {
	max-width: 100%;
	border-radius: 0.25rem;
}

/* dialog */
.el-dialog {
	border-radius: 5px;
}
.el-dialog * {
	font-family: var(--general-font-family);
}

/* input */
input,
textarea {
	font-family: var(--general-font-family) !important;
}

/* quote */
blockquote {
	position: relative;
	margin: 0;
	padding: 2rem;
	font-family: var(--general-font-family);
	line-height: 1.75rem;
	font-size: 0.9rem;
	color: rgb(104, 104, 104);
}
blockquote::before,
blockquote::after {
	position: absolute;
	display: block;
	content: "";
	width: 25px;
	height: 25px;
	background-size: contain;
	background-repeat: no-repeat;
}
blockquote::before {
	left: 0;
	top: 0;
	background-image: url(https://static.gcores.com/assets/d85a8e523b7e9b1871c0cc1f3a9e7822.png);
}
blockquote::after {
	right: 0;
	bottom: 0;
	background-image: url(https://static.gcores.com/assets/424763652d192fad93f0606e1c3c3cca.png);
}

/* caption 图注 */
.caption,
mark {
	text-align: center;
	font-size: 0.85rem;
	color: gray;
	position: relative;
	line-height: 0;
	margin-bottom: 2rem;
	font-family: var(--general-font-family);
	background-color: transparent;
	display: block;
}

.card .img_wrap {
	height: 100%;
}
.card .img_wrap > img {
	object-fit: cover;
}
