<script setup>
import { ref, reactive, getCurrentInstance } from "vue";
const http = getCurrentInstance().proxy.$http;
import { useRouter, useRoute } from "vue-router";
import VueEvent from "../utils/event";
const router = useRouter();
const route = useRoute();
import loading from "../components/Loading.vue";
import { textToDict } from "../utils/textToDict";
import Box from "../components/Box.vue";

// 获取文章
const article = ref({});
const article_text = ref({});
// 这里先获取原文文字，然后用\n为分割转为array用来渲染文章
http.get("/api/articles", { params: { id: route.params.id } }).then(
	(response) => {
		article.value = response.data;
		article_text.value = textToDict(response.data.text);
	}
);
// 编辑文章
const edit = (article) => {
	VueEvent.emit("auth", () => {
		router.push({
			name: "edit",
			params: { id: article._id },
		});
	});
};

// 删除文章
const remove = (id) => {
	VueEvent.emit("auth", () => {
		http.delete("/api/articles", { params: { id: id } });
		router.push({
			name: "index",
		});
		// 发送通知
		VueEvent.emit("fresh", [true, "删除成功."]);
	});
};

// 控制是否展示评论
const showComment = ref(true);

// 获取留言
const comments = ref([]);
const getComments = () => {
	http.get(`/api/comments`, { params: { article_id: route.params.id } }).then(
		(response) => {
			comments.value = response.data;
		}
	);
};
getComments();

// 新增留言
let name = ref("");
let comment = ref("");

const postComment = () => {
	let my_comments = {
		commenter: name.value,
		body: comment.value,
		article_id: route.params.id,
	};
	http.post(`/api/comments`, my_comments).then(() => {
		getComments();
		VueEvent.emit("fresh", [true, "添加成功."]);
		[name.value, comment.value] = ["", ""];
	});
};

// 删除留言
const removeComment = (id) => {
	http.delete(`/api/comments`, { params: { id: route.params.id } }).then(
		() => {
			getComments();
			VueEvent.emit("fresh", [true, "删除成功."]);
		}
	);
};

// 点赞
const upHandle = (article) => {
	http.put(`/api/articles`, null, { params: { id: article._id } }).then(
		({ data }) => {
			article.up = data.value.up + 1;
			console.log(data);
			console.log(article);
		}
	);
};
</script>

<template>
	<loading v-if="!article._id" />
	<div class="card">
		<h2>{{ article.title }}</h2>
		<div class="date">{{ article.created_at }}</div>
		<Box v-for="item in article_text" :tag="item[0]" :content="item[1]" />
		<div>
			<el-button size="mini" @click.once="upHandle(article)">
				👍 <span>{{ article.up }}</span>
			</el-button>
			<el-button size="mini">👎</el-button>
			<el-button size="mini" @click="edit(article)">编辑</el-button>
			<el-button size="mini" @click="remove(article._id)">删除</el-button>
			<el-button size="mini" @click="showComment = !showComment"
				>评论</el-button
			>
		</div>
		<div class="comment-part" v-if="showComment">
			<h3>留言</h3>
			<!-- 输入留言 -->
			<div class="comment-input-wrap">
				<el-input v-model="name" placeholder="您的名字" />
				<el-input
					v-model="comment"
					placeholder="写一句留言吧"
					prefix-icon="el-icon-edit"
				>
					<template #append>
						<el-button
							icon="el-icon-check"
							@click="postComment"
						></el-button> </template
				></el-input>
			</div>
			<!-- 展示所有留言 -->
			<div class="comment-wrap" v-for="comment in comments">
				<div class="commenter">{{ comment.commenter }}</div>
				<span class="commente-date">{{ comment.created_at }}</span>
				<div class="comment-body">{{ comment.body }}</div>
				<!-- 删除按钮 -->
				<el-button
					@click="removeComment(comment.id)"
					size="mini"
					icon="el-icon-delete"
				></el-button>
			</div>
		</div>
	</div>
</template>

<style scoped>
.commenter,
.comment-body {
	font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
		"Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}
.commenter {
	font-size: 0.95rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
}
.comment-body {
	font-size: 0.9rem;
}

.comment-wrap {
	position: relative;
	box-shadow: 0 0 1px 0 #00000070;
	padding: 1rem;
	margin-bottom: 1rem;
}

.commente-date {
	font-size: x-small;
	position: absolute;
	right: 1rem;
	top: 1rem;
	font-family: "Courier New", Courier, monospace;
}

.comment-input-wrap {
	display: flex;
	margin-bottom: 1rem;
}
.comment-input-wrap > div:first-of-type {
	margin-right: 0.5rem;
	width: 20%;
	min-width: 4rem;
}
.comment-input-wrap:last-child {
	flex-grow: 0.5;
}
.comment-wrap > .el-button {
	position: absolute;
	right: 0;
	top: 0;
	opacity: 0;
	transition: 0.2s;
}

.comment-wrap:hover > .el-button {
	opacity: 1;
}
.comment-part {
	margin-bottom: 2rem;
}
.card {
	max-width: 860px;
	position: relative;
	left: 0;
	right: 0;
	margin: auto;
}
.date {
	font-size: x-small;
	font-family: "Courier New", Courier, monospace;
	margin-bottom: 2rem;
}
</style>
