<script setup>
import {getCurrentInstance, ref} from "vue";
const http = getCurrentInstance().proxy.$http
import { useRouter, useRoute } from "vue-router";
import VueEvent from "../utils/event";
import syntax_description from "../components/SyntacDesciption.vue";
const router = useRouter();
const route = useRoute();

const title = ref("");
const text = ref("");

http
	.get("/api/articles", { params: { id: route.params.id } })
	.then((response) => {
		title.value = response.data.title;
		text.value = response.data.text;
	});

const submit = () => {
	VueEvent.emit("auth", () => {
		let data = {
			title: title.value,
			text: text.value,
		};
		http.patch("/api/articles", data, { params: { id: route.params.id } });
		VueEvent.emit("fresh", [true, "保存成功."]);
		router.push({
			name: "article",
			params: { id: route.params.id },
		});
	});
};

const back = () => {
	router.push({
		name: "article",
		params: { id: route.params.id },
	});
};
</script>

<template>
	<el-input v-model="title" placeholder="请输入新标题" clearable />
	<el-input
		v-model="text"
		type="textarea"
		placeholder="Please input"
		:autosize="{ minRows: 5 }"
	/>
	<div>
		<el-button size="mini" @click="submit" icon="el-icon-lock"
			>保存</el-button
		>
		<el-button size="mini" @click="back" icon="el-icon-back"
			>返回</el-button
		>
	</div>
	<syntax_description></syntax_description>
</template>

<style scoped>
.maxWidth > * {
	margin-bottom: 1rem;
}
</style>
