<script setup>
import VueEvent from "../utils/event";
import { ref, onMounted, getCurrentInstance } from "vue";
import { useRouter } from "vue-router";
const router = useRouter();
import { textToDict } from "../utils/textToDict";
import loading from "../components/Loading.vue";
const http = getCurrentInstance().proxy.$http;

// 获取所有文章
const indices = ref([]);
const getArticles = () => {
	http.get("/api/articles").then((response) => {
		indices.value = response.data;
		indices.value.reverse(); //让最新的在最前
		indices.value.map((article) => {
			article.text = textToDict(article.text);
		});

		for (let article of indices.value) {
			let pure_text = "";
			for (let item of article.text) {
				if (item[0] === "p") pure_text += item[1] + "\n";
				else if (item[0] === "img" && !article.img) {
					article.img = item[1];
				}
			}
			article.pure_text = pure_text;
		}
	});
};
getArticles();

// 点击跳转到某文章
const redirectToArticle = (article) => {
	router.push({
		name: "article",
		params: { id: article._id },
	});
};

// 编辑文章
const editArticle = (article) => {
	// 现在统一变成这种，先弹窗鉴权，再跳转
	router.push({
		name: "edit",
		params: { id: article._id },
	});
};

onMounted(() => {
	// 监控是否该刷新了
	VueEvent.on("fresh", () => {
		getArticles();
	});
});

// 删除文章
const remove = (id) => {
	VueEvent.emit("auth", () => {
		http.delete("/api/articles", { params: { id: id } }).then(() => {
			VueEvent.emit("fresh", [true, "删除成功."]);
		});
	});
};

// 点赞
const upHandle = (article) => {
	console.log(article);
	http.put("/api/articles", null, { params: { id: article._id } }).then(
		({ data }) => {
			article.up = data.value.up + 1;
		}
	);
};
</script>

<template>
	<loading v-if="indices.length === 0" />
	<div class="card" v-for="article in indices">
		<div class="content">
			<h2 @click="redirectToArticle(article)">
				{{ article.title }}
				<el-badge :value="article._id.slice(-1)"></el-badge>
			</h2>
			<p class="abstract">{{ article.pure_text }}</p>
			<div>
				<el-button size="mini" @click.once="upHandle(article)">
					👍 <span>{{ article.up }}</span>
				</el-button>
				<el-button size="mini">👎</el-button>
				<el-button
					size="mini"
					@click="editArticle(article)"
					icon="el-icon-edit"
					>编辑</el-button
				>
				<el-button
					size="mini"
					@click="remove(article._id)"
					icon="el-icon-delete"
					>删除</el-button
				>
			</div>
		</div>
		<img
			class="image"
			:src="article.img"
			@click="redirectToArticle(article)"
		/>
	</div>
</template>

<style scoped>
h2 {
	cursor: pointer;
}
.abstract {
	/* 控制只显示两行 */
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	line-height: 1.8rem;
}
.card {
	display: flex;
}
.image {
	height: calc(9.6rem + 28px);
	width: calc((9.6rem + 28px) / 9 * 14);
	overflow: hidden;
	word-break: break-all;
	flex-shrink: 0;
	object-fit: cover;
	border-radius: 0.25rem;
	cursor: pointer;
	transition: 0.3s;
}
.image:hover {
	opacity: 0.9;
}
.content {
	flex: 1;
	word-wrap: break-word;
	overflow: hidden;
	word-break: break-all;
	padding-right: 20px;
}

@media (max-width: 720px) {
	.image {
		display: none;
	}
}
</style>
