<script setup>
import {ref, reactive, getCurrentInstance} from "vue";
const http = getCurrentInstance().proxy.$http
import { useRouter, useRoute } from "vue-router";
const router = useRouter();
import VueEvent from "../utils/event";
import syntax_description from "../components/SyntacDesciption.vue";

const title = ref("");
const text = ref("");

const submit = () => {
	VueEvent.emit("auth", () => {
		let data = {
			title: title.value,
			text: text.value,
			up: 0,
		};
		http.post("/api/articles", data).then((response) => {
			router.push({
				name: "index",
			});
			VueEvent.emit("fresh", [true, "发布成功."]);
		});
	});
};

const back = () => {
	router.push({
		name: "index",
	});
};
</script>

<template>
	<el-input v-model="title" placeholder="请输入新标题" clearable />
	<el-input
		v-model="text"
		:autosize="{ minRows: 15 }"
		type="textarea"
		placeholder="请输入正文"
		spellcheck="false"
	/>
	<div>
		<el-button size="mini" @click="submit">发布</el-button>
		<el-button size="mini" @click="back">返回</el-button>
	</div>
	<syntax_description></syntax_description>
</template>

<style scoped>
.maxWidth > * {
	margin-bottom: 1rem;
}
</style>
