<script setup>
const props = defineProps({
	tag: String,
	content: String,
});
</script>

<template>
	<component v-if="tag !== 'img'" :is="props.tag" :class="props.tag">{{
		props.content
	}}</component>
	<div v-else class="img_wrap">
		<img :src="props.content" :alt="props.content" />
	</div>
</template>
