<script setup>
import { ref, onMounted } from "vue";
import VueEvent from "../utils/event";
// 鉴权
const keyword_input = ref("");
const showingDialog = ref(false);
const keyword = "loop"; // root密码
var callback_func = new Function();
const dialogComfirm = () => {
	if (keyword_input.value === keyword) {
		// 密码正确
		showingDialog.value = false;
		callback_func();
	} else {
		VueEvent.emit("fresh", [false, "密码错误."]);
	}
};
onMounted(() => {
	// 弹窗鉴权
	VueEvent.on("auth", (callback) => {
		showingDialog.value = true;
		callback_func = callback;
	});
});
</script>

<template>
	<el-dialog
		v-model="showingDialog"
		width="400px"
		:show-close="false"
		title="权限验证"
		top="25vh"
	>
		<el-form>
			<el-form-item>
				<el-input
					v-model="keyword_input"
					show-password
					prefix-icon="el-icon-lock"
					placeholder="请输入密码"
					@keyup.enter="dialogComfirm"
				></el-input>
			</el-form-item>
		</el-form>
		<template #footer>
			<span class="dialog-footer">
				<el-button size="small" @click="showingDialog = false"
					>取消</el-button
				>
				<el-button size="small" type="primary" @click="dialogComfirm"
					>确认</el-button
				>
			</span>
		</template>
	</el-dialog>
</template>

<style scoped></style>
