<template>
	<div class="bounce">
		<span class="letter">L</span>
		<span class="letter">o</span>
		<span class="letter">a</span>
		<span class="letter">d</span>
		<span class="letter">i</span>
		<span class="letter">n</span>
		<span class="letter">g</span>
	</div>
</template>

<script>
export default {
	name: "Loading",
};
</script>

<style scoped>
.bounce {
	display: flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	height: 100%;
	font-size: 2rem;
	letter-spacing: 8px;
	font-family: "Courier New", Courier, monospace;
}
.letter {
	animation: bounce 0.3s cubic-bezier(0.1, 0, 0.2, 1) infinite alternate;
}
.letter:nth-child(1) {
	animation-delay: 0s;
}
.letter:nth-child(2) {
	animation-delay: 0.07s;
}
.letter:nth-child(3) {
	animation-delay: 0.14s;
}
.letter:nth-child(4) {
	animation-delay: 0.21s;
}
.letter:nth-child(5) {
	animation-delay: 0.28s;
}
.letter:nth-child(6) {
	animation-delay: 0.35s;
}
.letter:nth-child(7) {
	animation-delay: 0.42s;
}
@keyframes bounce {
	0% {
		transform: translate3d(0, 0, 0);
	}
	100% {
		transform: translate3d(0, -1em, 0);
	}
}
</style>
