<template>
	<el-divider></el-divider>
	<h2>语法说明</h2>
	<el-descriptions class="margin-top" :column="1" border>
		<el-descriptions-item>
			<template #label> 普通段落 </template>
			<code
				>This is a sample text that renders ordinary paragraphs
				directly.</code
			>
		</el-descriptions-item>
		<el-descriptions-item>
			<template #label> 图片 </template>
			<code><em>img:</em>https://fonts.googleapis.com/test.jpg</code>
			<code>https://fonts.googleapis.com/test.jpg</code>
		</el-descriptions-item>
		<el-descriptions-item>
			<template #label> 小标题 </template>
			<code><em>::</em>This is an ordinary subtitle.</code>
			<code><em>h2:</em>This is an h2 subtitle.</code>
			<code><em>h3:</em>This is an h3 subtitle.</code>
		</el-descriptions-item>
		<el-descriptions-item>
			<template #label> 引用 </template>
			<code><em>q:</em>This is a blockquote.</code>
		</el-descriptions-item>
		<el-descriptions-item>
			<template #label> 图片标注 </template>
			<code><em>c:</em>This is a picture caption.</code>
		</el-descriptions-item>
	</el-descriptions>
</template>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@500&display=swap");
a {
	color: #42b983;
}
code {
	background: rgb(243, 243, 243);
	padding: 0.25rem 0.5rem;
	font-size: 0.8rem;
	margin: 0 1rem;
	font-family: "Noto Sans Mono", monospace;
	display: inline-block;
}
em {
	font-style: normal;
	color: rgb(4, 206, 95);
}
</style>
