<script setup>
import {ref, onMounted, reactive, getCurrentInstance} from "vue";
import VueEvent from "./utils/event";
import { useRouter } from "vue-router";
const http = getCurrentInstance().proxy.$http
import { ElMessage } from "element-plus";
const router = useRouter();
import Dialog from "./components/Dialog.vue";
import { useStore } from "vuex";

let store = useStore();
// 不太明白怎么加入到另一个页面
onMounted(() => {
	console.log("这里onmounted了");
});

// 跳转首页
const toIndex = () => {
	router.push({
		name: "index",
	});
};
// 新建
const toNew = () => {
	router.push({
		name: "new",
	});
};
// 新建随机文章
const getRandomArticle = () => {
	VueEvent.emit("auth", () => {
		let data = {
			title:
				"你要的随机文章的题目" + Math.floor(Math.random() * 1000 + 1),
			text: "你要的随机文章的正文, 你要的随机文章的正文, 你要的随机文章的正文, 你要的随机文章的正文",
			up: 0,
		};
		http.post("/api/articles", data).then((response) => {
			VueEvent.emit("fresh", [true, "添加成功."]);
		});
	});
};

onMounted(() => {
	// 显示通知
	VueEvent.on("fresh", ([hasSuccessed, msg]) => {
		ElMessage({
			message: msg,
			type: hasSuccessed ? "success" : "error",
		});
	});
});
</script>

<template>
	<!-- 弹窗 -->
	<Dialog />
	<!-- 主体 -->
	<el-header>
		<div class="maxWidth">
			<span id="logo" @click="toIndex">MyBlog</span>
			<el-button @click="toNew" icon="el-icon-edit-outline"
				>新建文章</el-button
			>
			<el-button @click="getRandomArticle">新建随机文章</el-button>
		</div>
	</el-header>

	<el-main>
		<div class="maxWidth">
			<router-view />
		</div>
	</el-main>
	<el-footer>Designed with Rails + Vue3 + Vite2 + ElementUI</el-footer>
</template>

<style scoped>
.el-header > .maxWidth {
	display: flex;
	justify-content: flex-end;
}
.maxWidth > button {
	height: 40px;
	margin-top: 10px;
}
#logo {
	user-select: none;
	cursor: pointer;
	margin-right: auto;
}
</style>
